h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
body {
    font: 13px/1.231 arial, Helvetica, clean, sans-serif;
    text-align: center;
    height: 100vh;
}

#doc2, .container {
    margin: auto;
    text-align: left;
    width: 73.076em;
    *width: 71.25em;
}

.container_main-info {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container_main-info_img {
    box-sizing: content-box;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.container_main-info_description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container_main-info_description > h3 {
    font-size: 50px;
    margin-bottom: 20px;
}

.container_main-info_description > div > p,
.container_main-info_description > div > a {
    font-size: 24px;
    color: #000;
}

.container_main-info_description > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 10px 0;
}

.container_main-info_description > div > a {
    outline: none;
    text-decoration: none;
}

.container_main-info_description > div > img {
    width: 50px;
    height: 50px;
    box-sizing: content-box;
    margin: 0 30px 0 0;
}

.box-body {
    position: static;
}

.block,
.block div.first,
.yui-u {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.yui-u:last-of-type {
    align-items: center;
}

.education,
.jobs,
.description,
.course {
    display: flex;
    flex-direction: column;
}

.topics {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topics > div {
    margin-right: 30px;
}

.topic > h3 {
    font-size: 18px;
}

.block:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body {
    font-family: Georgia;
}
html {
    background: url("logo.jpg") repeat fixed;
    background-size: 285px;
    color: #444
}
#inner {
    padding: 10px 80px;
    margin: 80px auto;
    background: #FFF;
    opacity: 0.95;
    border-radius: 25px;
    height: 100%;
}
.block {
    margin-bottom: 2em;
    padding-bottom: 2em;
    border-bottom: 1px solid #ccc;
}
#hd {
    margin: 2.5em 0 3em 0;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #ccc
}
#hd h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#bd, #ft {
    margin-bottom: 2em;
}
#ft {
    padding: 1em 0 5em 0;
    font-size: 92%;
    border-top: 1px solid #ccc;
    text-align: center;
}
#ft p {
    margin-bottom: 0;
    text-align: center;
}
#hd h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
h2 {
    font-size: 152%
}

h3, h4 {
    font-size: 122%;
}
h1, h2, h3, h4 {
    color: #333;
}
p {
    font-size: 100%;
    line-height: 18px;
    padding-right: 3em;
}
a {
    color: #000
}
a:hover {
    text-decoration: none;
}
strong {
    font-weight: bold;
}

li {
    line-height: 24px;
    border-bottom: 1px solid #ccc;
    list-style: none;
}

p.enlarge {
    font-size: 144%;
    line-height: 24px;
}

p.enlarge span {
    color: #000
}

.contact-info {
    margin-top: 7px;
}

.first h3 {
    font-family: Cambria, sans-serif;
    font-size: 50px;
}

.last {
    border-bottom: 0
}

.last > .job_text {
    margin-bottom: 0;
}


.job {
    position: relative;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}

.job h4 {
    position: absolute;
    top: 0.35em;
    right: 0
}

.job p {
    margin: 0.75em 0 3em 0;
}

.last {
    border: none;
}

.talent {
    width: 32%;
    float: left
}
.talent h2 {
    margin-bottom: 6px;
}

.block .yui-u {
    width: 80.2%;
}
.title {
    width: 20%;
}

.courses_about {
    width: 65%;
}

.courses {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.courses_second {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.courses_second > div:first-of-type {
    margin-right: 85px;
}

.courses > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses > div > p {
    padding: 0;
    text-align: left;
}

.experience {
    width: 20%;
}

.profile {
    width: 85%;
}

ul {
    padding: 0;
}

.information {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block > .jobs {
    width: 70%;
}

.block > .jobs > .job{
    width: 100%;
}